- @site_name                     = "Boheme films"
- @title_delimiter               = " - "
- @meta_description              = "default meta description"
- @meta_keywords                 = "default, meta, keywords"
- @google_site_verification_code = nil
- @meta_title                    = current_page == '/index.html' ? @site_name : full_page_title

!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; CHARSET=utf-8"}/
    <meta name="google-site-verification" content="lUhTnvC7ekWCMCHriYUK2Asu_0X9OfvjFiqu9X4sJOw" />
    %title= @meta_title
    %meta{:name => "description", :content => @meta_description}
    %meta{:name => "keywords", :content => @meta_keywords}
    - if @google_site_verification_code
      %meta{:name => "google-site-verification", :content => @google_site_verification_code }/
    = stylesheets :screen, :media => 'screen, projection'
    = stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = stylesheets :ie, :media => 'screen, projection'
    = javascripts 'base'

  %body{:id => @body_id, :class => @body_class}
    .wrap 
      .main
        #header
          #logo
            %img(src="/images/logo.png") 
          = partial 'navbar'
        - if @banner
          %img(src="/images/banner.jpg" width="990px" height="350px")
        .content
          = yield
    = partial 'footer'
    #scripts
